*{
    padding: 0;
    margin: 0;
}
header{
    font-family: 'Prompt', sans-serif;
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
nav > ul {
    display: flex;
    align-items: center; 
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
#g3{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}
.container{
    padding: 170px 430px 0 430px;
}

.head-title{
    text-align: center;
    color: #131313;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lorem{
    text-align: center;
}
.btn{
    color: #FFF;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff900e;
    margin-left: 730px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: none;
}
#ban-png{
    padding-right: 20px;
    padding-left: 100px;
}



/* main styles */
main{
    max-width: 1440px;
    font-family: 'Prompt', sans-serif;
}

.teams-container{
    display: flex;
    margin-left: 350px;
    align-items: center;
    margin-top: 100px;
}
.buton{
    color: #FFF;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff900e;
    border: none;
}
img{
    margin-left: 10px;
    margin-bottom: 4px;
}
.teams-content{
    padding-left: 70px;
}
.teams-title{
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Prompt', sans-serif;
}
.quick{
    color: var(--dark-03, #727272);
}
#of{
    color: var(--dark-01, #131313);
}
.features{
    color: #ff900e;
}
.facts{
    margin-left: 360px;
}
.section-title{
    color: #131313;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color:#424242;
}




/* mobile devices */
@media screen and (max-width: 576px) {
    header, .container{
        padding: 10px 10px;
        text-align: center;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-left: 25px;
    }
    #ban-png{
        width: 320px;
        padding-left: 0;
        padding-right: 0;
    }
    .btn{
        margin-left: 0;
    }
    .team-png{
        width: 150px;
    }
    .teams-container, .facts{
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }
    .teams-content{
        padding-left: 0;
        text-align: center;
    }
}

/* tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    header, .container{
        padding: 10px 10px;
        text-align: center;
    }
    nav ul{
        margin-left: 260px;
    }
    #ban-png{
        width: 700px;
        padding-left: 0;
    }
    .btn{
        margin-left: 0;
    }
    .team-png{
        width: 250px;
    }
    .teams-container, .facts{
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }
    .teams-content{
        padding-left: 0;
        text-align: center;
    }
}